<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/funtion_Proveedor.js"></script>
        <link rel="stylesheet" type="text/css" href="css/styleProveedor.css">
        <link rel="stylesheet" type="text/css" href="css/style_Home.css">
        <title>Proveedor</title>
    </head>
    
    <nav class="navbar navbar-default navbar-mobile bootsnav on">
        <ul class="nav navbar-nav" id='menu'>
            <li class="button" class="active"><a href="/Home" class='actual'><img src="img/Home.png" width="24" height="24">Home  </a></li>
            <li class="button"><a href="/Cliente"><img src="img/Cliente.png" width="24" height="24">Clientes  </a></li>
            <li class="button"><a href="/Producto"><img src="img/Producto.png" width="24" height="24">Productos  </a></li>
            <li class="button"><a href="/Proveedor"><img src="img/Proveedor.png" width="24" height="24">Proveedores  </a></li>
            <li class="button"><a href="/Factura"><img src="img/Factura.png" width="24" height="24">Factura  </a></li>
            <li class="button"><a href="/Contacto"><img src="img/Contacto.png" width="24" height="24">Contacto  </a></li>
            <li class="button"><a href="/Login"><img src="img/Salir.png" width="24" height="24">Salir  </a></li>
        </ul>    
    </nav>


        <h1>Bienvenido a Tienda</h1>

      


</html>