<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/funtion_index.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style_index.css">
        <title>Index</title>
    </head>
    <body>
        <div class="login">
            <h1>LOGIN</h1>
            <form method="post">
                <input  type="text" name="UserName" id="UserName" placeholder="Username">
                <input type="password" name="Password" id="Password" placeholder="Password">
                <button type="button" class="btn btn-primary btn-block btn-large" onclick="Ingresar()">Ingresar</button>
            </form>
        </div>
    </body>
</html>